$primary-color: rgb(15, 214, 208);
$background-color: #ffffff;
$button-hover-color: #00a8c0;

@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 1400px) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: 768px) {
      @content;
    }
  } @else if $breakpoint == small-mobile {
    @media (max-width: 575px) {
      @content;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 64px;
  background-color: $background-color;
  @include respond-to(mobile) {
    padding: 15px 32px;
  }

  &_logo {
    img {
      width: 182px;
      margin-top: 8px;
    }
  }

  &_nav {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  ul {
    padding-right: 50px;
    list-style: none;
    display: flex;
    gap: 57px;
    margin: 0;
    padding: 0;

    a {
      text-decoration: none;
      color: rgb(14, 14, 14);
      font-family: Mulish;
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0%;
      text-align: left;

      &:hover {
        color: $primary-color;
      }
    }
  }
  .header_nav li:nth-child(-n + 2) {
  }

  &_cta {
    display: flex;
    align-items: center;
    gap: 86px;
  }
}
