$primary-color: rgb(15, 214, 208);
$background-color: #ffffff;
$button-hover-color: #00a8c0;

@mixin respond-to($breakpoint) {
  @if $breakpoint == tablet {
    @media (max-width: 1337px) {
      @content;
    }
  } @else if $breakpoint == mobile {
    @media (max-width: 803px) {
      @content;
    }
  } @else if $breakpoint == small-mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 64px;
  background-color: $background-color;
  @include respond-to(mobile) {
    padding: 15px 32px;
  }

  &_logo {
    img {
      width: 182px;
      margin-top: 8px;
      @include respond-to(tablet) {
        width: 130px;
        margin-top: 8px;
      }

      @include respond-to(mobile) {
        width: 110px;
      }

      @include respond-to(small-mobile) {
        width: 110px;
      }
    }
  }

  &_nav {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  ul {
    padding-right: 50px;
    list-style: none;
    display: flex;
    gap: 57px;
    margin: 0;
    padding: 0;

    @include respond-to(tablet) {
      gap: 20px;
    }

    @include respond-to(mobile) {
      flex-direction: column;
      gap: 15px;
      align-items: center;
      margin-top: 10px;
      display: none;
    }

    a {
      text-decoration: none;
      color: rgb(14, 14, 14);
      font-family: Mulish;
      font-size: 24px;
      font-weight: 500;
      line-height: 30px;
      letter-spacing: 0%;
      text-align: left;

      &:hover {
        color: $primary-color;
      }

      @include respond-to(tablet) {
        font-size: 16px;

        background-color: rgb(14, 14, 14);
        padding: 10px 20px;
        border: none;
        border-radius: 32px;
        cursor: pointer;
        font-weight: bold;

        transition: background-color 0.3s ease;

        color: rgb(15, 214, 208);
      }

      @include respond-to(small-mobile) {
        font-size: 14px;
      }
    }
  }
  .header_nav li:nth-child(-n + 2) {
    @include respond-to(tablet) {
      display: none;
    }
  }

  &_cta {
    display: flex;
    align-items: center;
    gap: 86px;

    @include respond-to(tablet) {
      gap: 20px;
    }

    @include respond-to(mobile) {
      flex-direction: column;
      gap: 15px;
      margin-top: 10px;
    }
  }
}
